<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Organizer Ubezpieczeń</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

  <script>
    function validateForm() {
      var clientName = document.forms["insuranceForm"]["clientName"].value;
      var insuranceName = document.forms["insuranceForm"]["insuranceName"].value;
      var sumInsurance = document.forms["insuranceForm"]["sumInsurance"].value;
      var premium = document.forms["insuranceForm"]["premium"].value;
      var premiumPaid = document.forms["insuranceForm"]["premiumPaid"].value;

      if (clientName == "" || insuranceName == "" || sumInsurance == "" || premium == "" || premiumPaid == "") {
        alert("Wszystkie pola muszą być wypełnione!");
        return false;
      }
      return true;
    }

    function setCustomValidityMessage(element, message) {
      element.setCustomValidity(message);
      element.reportValidity();
    }
  </script>

</head>
<body>
<div class = "container">
  <div class = "row">
    <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Zaktualizuj polisę</h1>
      <div class = "card-body">
        <form th:action="@{/insurances/{id} (id=${insurance.id})}" th:object = "${insurance}" method="POST">

          <div class = "form-group">
            <label> Nazwa Klienta </label>
            <input
                    type = "text"
                    name = "clientName"
                    th:field = "*{clientName}"
                    class = "form-control"
                    placeholder="Wpisz nazwę Klienta"
                    required
                    oninvalid="setCustomValidityMessage(this, 'Proszę wprowadzić nazwę klienta.')"
                    oninput="setCustomValidityMessage(this, '')"
            />

          </div>

          <div class = "form-group">
            <label for="insuranceName">Rodzaj Ubezpieczenia</label>
            <!-- Rozwijalna lista z identyfikatorem "exampleSelect" -->
            <select name="insuranceName" th:field="*{insuranceName}" class="form-control" id="insuranceName">
              <option value="">Wybierz</option>
              <option value="OC Przewoźnika Drogowego">OC Przewoźnika Drogowego</option>
              <option value="OC Spedytora">OC Spedytora</option>
              <option value="OC Zawodowe">OC Zawodowe</option>
              <option value="OC Komunikacyjne">OC Komunikacyjne</option>
              <option value="Ubezpieczenie Turystyczne">Ubezpieczenie Turystyczne</option>
            </select>

          </div>

          <div class = "form-group">
            <label> Suma Ubezpieczenia </label>
            <input
                    type = "text"
                    name = "sumInsurance"
                    th:field = "*{sumInsurance}"
                    class = "form-control"
                    placeholder="Wprowadź Sumę Ubezpieczenia"
                    required
                    oninvalid="setCustomValidityMessage(this, 'Proszę wprowadzić sumę ubezpieczenia.')"
                    oninput="setCustomValidityMessage(this, '')"
            />
          </div>

          <div class = "form-group">
            <label> Wysokość składki </label>
            <input
                    type = "text"
                    name = "premium"
                    th:field = "*{premium}"
                    class = "form-control"
                    placeholder="Wprowadź wysokość składki"
                    required
                    oninvalid="setCustomValidityMessage(this, 'Proszę wprowadzić wysokość składki.')"
                    oninput="setCustomValidityMessage(this, '')"
            />
          </div>

          <div class="form-group">
            <label>Czy składka opłacona?</label>
            <select name="premiumPaid" th:field="*{premiumPaid}" class="form-control" id="premiumPaid" required
                    oninvalid="setCustomValidityMessage(this, 'Proszę wybrać, czy składka została opłacona.')"
                    oninput="setCustomValidityMessage(this, '')">
              <option value="">Wybierz</option>
              <option value="true">TAK</option>
              <option value="false">NIE</option>
            </select>
          </div>

          <div class = "box-footer">
            <button type="Zaktualizuj" class = "btn btn-primary">
              Zatwierdź
            </button>

          </div>


        </form>

      </div>
    </div>

  </div>

</div>

<!-- Skrypty JavaScript Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>